# Discord Bot token https://discord.com/developers/applications
DISCORD_BOT_TOKEN=

# APIs
BASE_API_URL=https://chat-api.tamu.ai/api/
API_KEY=

# channel using to send the starting-prompt
DISCORD_CHANNEL_ID=
REPLYING_ALL_DISCORD_CHANNEL_ID=

LOGGING=True
REPLYING_ALL=False

# convo vars
BATCH_DELAY=5
MAX_HISTORY_CHARS=30000
MODEL=gpt-5.1
